/* Fonts:
   https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
   ========================================================================== */

@import "mixins";

@font-face {
  font-family: "PT Sans";

  src: url('../fonts/PTC55F.ttf');
  // src: url('../fonts/PTC75F.ttf');
  // src: url('../fonts/PTN57F.ttf');
  // src: url('../fonts/PTN77F.ttf');
  // src: url('../fonts/PTS55F.ttf');
  // src: url('../fonts/PTD56F.ttf');
  // src: url('../fonts/PTS75F.ttf');
  // src: url('../fonts/PTS76F.ttf');

}

