.search {
  padding: 25px 46px 30px 46px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: url(../img/background1200.jpg) no-repeat center;
    filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__form {
    color: #fff;
    display: flex;
  }

  &__item {
    display: flex;
    flex-flow: column;

    &_left {
      margin-right: 115px;
    }

    &_right {
      margin-left: auto;
    }
  }

  &__title {
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__label {
    cursor: pointer;
  }
  
  &__input {
    width: 108px;
    height: 32px;
    background: none;
    text-align: center;
    color: #fff;

    @include placeholder {
      color: #ffffff;
    }

    &:focus {
      @include placeholder {
        opacity: 0;
      }
    }

    &_none {
      display: none;

      & + .search__label {
        margin-top: 23px;
        padding-left: 40px;
        position: relative;
        line-height: 23px;
      }

      & + .search__label::before {
        content: "";
        width: 23px;
        height: 23px;
        border: 2px solid #fff;
        border-radius: 2px;
        position: absolute;
        top: 0;
        left: 0;
      }

      & + .search__label::after {
        content: "";
        display: none;
        width: 27px;
        height: 23px;
        background: url(../img/checkbox-on.png) no-repeat center;
        position: absolute;
        top: 0;
        left: 0;
      }

      &[type="checkbox"]:checked + .search__label::after {
        display: block;
      }
    }
  }

  &__bl {
    margin-top: 12px;
    display: flex;
    border: 2px solid #fff;
    border-radius: 2px;
    position: relative;

    &::before {
      content: "";
      width: 2px;
      height: 22px;
      background: #fff;
      position: absolute;
      top: 5px;
      left: 50%;
    }
  }

  &__button {
    width: 137px;
    height: 36px;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      color: #000;
      background: #fff;
    }
  }
}
